{{ define "top" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="title">TC Coding Challenge</h1>
                </a>
            </div>
            {{if .user}}
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="/my-submissions">Submissions</a>
                        <a class="navbar-item" href="/challenges">Challenges</a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            {{.user.Username}}
                            {{if .user.IsAdmin}}
                                [Admin]
                            {{end}}
                            &nbsp;(<a href="/logout">Logout</a>)
                        </div>
                    </div>
                <div>
            {{end}}
        </nav>
        <hr/>
        <div class="container">
{{ end }}

{{ define "bottom" }}
        </div>
    </body>
</html>
{{ end }}
