{{template "top" .}}
    <div>
        <h4 class="title is-4">
            {{.title}}
        </h4>
    </div>
    <form class="box" method="{{.method}}" action="{{.action}}">
        <div class="block has-text-danger">
            {{.error}}
        </div>
        <div class="field">
            <label class="label" for="title">
                Title
                <span class="has-text-danger">{{.errors.Title}}</span>
            </label>
            <div class="control">
                <input class="input" type="text" name="Title" value="{{.challenge.Title}}"/>
            </div>
        </div>
        <div class="field">
            <label class="label" for="ProblemStatement">
                Problem Statement
                <span class="has-text-danger">{{.errors.ProblemStatement}}</span>
            </label>
            <div class="control">
                <textarea class="textarea" name="ProblemStatement" rows="10">{{.challenge.ProblemStatement}}</textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="Delimeter">
                Test Cases Delimeter(default: newline)
                <span class="has-text-danger">{{.errors.Delimeter}}</span>
            </label>
            <div class="control">
                <input type="text" class="input" name="Delimeter" rows="10" value="{{.challenge.Delimeter}}"/>
            </div>
        </div>
        <div class="field">
            <label class="label" for="TestInputs">
                Test Inputs
                <span class="has-text-danger">{{.errors.TestInputs}}</span>
            </label>
            <div class="control">
                <textarea class="textarea" name="TestInputs" rows="10">{{.challenge.TestInputs}}</textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="TestOutputs">
                Test Outputs
                <span class="has-text-danger">{{.errors.TestOutputs}}</span>
            </label>
            <div class="control">
                <textarea class="textarea" name="TestOutputs" rows="10">{{.challenge.TestOutputs}}</textarea>
            </div>
        </div>
        <div class="field">
            <label class="checkbox" for="IsPublished">
                <input name="IsPublished" type="checkbox" {{if .challenge.IsPublished}}checked{{end}}>
                Publish
            </label>
        </div>
        <div class="field">
            <label class="label" for="Score">
                Score
                <span class="has-text-danger">{{.errors.Score}}</span>
            </label>
            <input class="input" type="number" name="Score" value="{{.challenge.Score}}"/>
        </div>
        <div class="field buttons">
            {{if .edit}}
            <button class="button is-primary" type="submit">
                Update
            </button>
            <!--
            <button class="button is-danger" type="button">
                Delete
            </button>
            -->
            {{else}}
                <button class="button is-primary" type="submit">
                    Add
                </button>
            {{end}}
        </div>
    </form>
{{template "bottom" .}}
