{{template "top" .}}
    <div>
        <h4 class="title is-4">New challenge</h4>
    </div>
    <form class="box" method="post" action="/new-challenge">
        <div class="block has-text-danger">
            {{.error}}
        </div>
        <div class="field">
            <label class="label" for="title">
                Title
                <span class="has-text-danger">{{.errors.title}}</span>
            </label>
            <div class="control">
                <input class="input" type="text" name="title" value="{{.challenge.Title}}"/>
            </div>
        </div>
        <div class="field">
            <label class="label" for="problem_statement">
                Problem Statement
                <span class="has-text-danger">{{.errors.problem_statement}}</span>
            </label>
            <div class="control">
                <textarea class="textarea" name="problem_statement" rows="10" value="{{.challenge.ProblemStatement}}">
                </textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="test_inputs">
                Test Inputs
                <span class="has-text-danger">{{.errors.test_inputs}}</span>
            </label>
            <div class="control">
                <textarea class="textarea" name="test_inputs" rows="10" value="{{.challenge.TestInputs}}">
                </textarea>
            </div>
        </div>
        <div class="field">
            <label class="label" for="test_outputs">
                Test Outputs
                <span class="has-text-danger">{{.errors.test_outputs}}</span>
            </label>
            <div class="control">
                <textarea class="textarea" name="test_outputs" rows="10" value="{{.challenge.TestOutputs}}">
                </textarea>
            </div>
        </div>
        <div class="field">
            <label class="checkbox" >
                <input name="is_published" type="checkbox" checked={{.challenge.IsPublished}}>
                Publish
            </label>
        </div>
        <div class="field">
            <label class="label" for="score">
                Score
                <span class="has-text-danger">{{.errors.score}}</span>
            </label>
            <input class="input" type="number" name="score" value="{{.challenge.Score}}"/>
        </div>
        <div class="field">
            <button class="button is-primary" type="submit">
                Add Challenge
            </button>
        </div>
    </form>
{{template "bottom" .}}
