{{ template "top" .}}
<div class="container">
    <span class="subtitle has-text-success">
        {{.message}}
    </span>
    <div class="columns block">
        <h3 class="title is-4">
            Submissions
        </h3>
    </div>
    <div class="box columns block">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Sub. Id</th>
                    <th>Challenge</th>
                    <th>Submitted At</th>
                    <th>Language</th>
                    <th>Status</th>
                    <th>Submitted by</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {{range .submissions}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td>
                            <a href="/submission/{{.ID}}">{{.ChallengeTitle}}</a>
                        </td>
                        <td>{{.CreatedAt | formatAsDate}}</td>
                        <td>{{.Language}}</td>
                        <td class="has-text-{{if eq .Status "passed"}}success{{else}}danger{{end}}">
                            {{.Status | snakeToTitle}}
                        </td>
                        <td>{{.SubmittedBy}}</td>
                        <td>{{.Score}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{ template "bottom" .}}
