{{ template "top" .}}
<div class="container">
    <div class="columns block">
        <div class="column">
            <h3 class="title is-4">
                {{ .title }}
            </h3>
        </div>
    </div>
    <div class="columns block">
        <div class="column">
            <p class="box" style="white-space:pre-wrap">{{.challenge.ProblemStatement}}</textarea>
        </div>
        <div class="column">
            <form class="box form" method="post" action="/challenge/{{.challenge.ID}}">
                <div class="block has-text-danger">
                    {{.error}}
                </div>
                <div class="field">
                    <label class="label" for="Language">
                        Language
                        <span class="has-text-danger">{{.errors.Language}}</span>
                    </label>
                    <div class="select">
                        <select id="language-select" name="Language" value="{{.submission.Language}}">
                            <option value="python">Python</option>
                            <!-- <option value="javascript">Javascript</option> -->
                            <!-- <option value="go">Go</option> -->
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="code">
                        Solution code
                        <span class="has-text-danger">{{.errors.SubmittedCode}}</span>
                    </label>
                    <div class="control">
                        <textarea id="code-editor" class="textarea" name="SubmittedCode" rows="20">{{.submission.SubmittedCode}}</textarea>
                    </div>
                </div>
                <div class="block">
                    <button class="button is-primary" type="submit">
                        Submit Solution
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        var editor = document.getElementById("code-editor");
        var myCodeMirror = CodeMirror.fromTextArea(editor, {smartIndent: true, theme: 'base16-dark', indentUnit: 4});
        var languageSelect = document.getElementById("language-select");
        myCodeMirror.setOption('mode', languageSelect.value);
        languageSelect.addEventListener("change", function (ev) {
            myCodeMirror.setOption('mode', ev.target.value);
        });
    </script>
</div>
{{ template "bottom" .}}
