{{ template "top" .}}
<div class="container">
    <div class="columns ">
        <div class="column is-2">
            <h3 class="title is-4">
                Challenges
            </h3>
        </div>
    </div>
    <div class="box">
        <table class="table is-fullwidth is-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Published At</th>
                    <th>Created By</th>
                    <th>Total Submisssions</th>
                    <th>My Correct Submissions</th>
                </tr>
            </thead>
            <tbody>
                {{range .Challenges}}
                    <tr>
                        <td>{{.ID}}</td>
                        <td><a href="/challenge/{{.ID}}">{{.Title}}</a></td>
                        <td>{{.CreatedAt | formatAsDate}}</td>
                        <td>{{.CreatedBy}}</td>
                        <td>{{.Submissions}}</td>
                        <td>{{.CorrectSubmissions}}</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <hr/>
</div>
{{ template "bottom" .}}
